@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    margin: 0px;
    font-family:"Montserrat";
    color: #ffffff;
}

.header {
    background-color: #343a40;
    height: 70px;
    padding-left: 200px;
    font-weight: bold;
 }
 
 h1{
    Display:inline-block;
    font-size: 20px;
 }

 p{
    Display:inline-block;
    font-size: 13px;
    margin-left: 10px;
}

a{
    Display:inline-block;
    padding-left: 650px;
    color: #ffffff;
    font-size: 13px;

}

.about {
    Display:inline-block;
    padding-left: 0px;
    color: #ffffff;
    font-size: 13px;
}

.cuerpo{
    background-color: #1abc9c;
    text-align: center;
    padding-bottom: 100px;
}
.principal{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 6px;
}

h2{
    font-size: 20px;
}

img {
    width: 200px;
    height: 200px;
    padding-top: 50px;
    display: inline-block;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.one{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #1a0459;
    font-weight: bold;
    background-color: white;

}

body{
    text-align: center;
}

img{
    display: inline-block;
    width: 15%;
    height: 15%;
    margin-right: 5px;
}

.cabin{
    margin-bottom: 5px;
}

.cake{
    margin-bottom: 5px;
}

.circus{
    margin-right: 0;
    margin-bottom: 5px;
}
.game{
    margin-left: 0;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    background-color: #1abc9c;
    color: white;
    font-family: "montserrat";
    text-align: center;

}

h1{
    padding-top: 20px;
    padding-bottom: 10px;
}

p{
    display: inline-block;
    text-align: center;
    text-align: justify;
    margin-right: 20px;
}

.segundo{
    vertical-align: top
}

.two{
    background-color: white;
    padding-bottom: 100px;
}



