@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.header{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #1a0459;
    font-weight: bold;

}

body{
    text-align: center;
}

img{
    display: inline-block;
    width: 15%;
    height: 15%;
    margin-right: 5px;
}

.cabin{
    margin-bottom: 5px;
}

.cake{
    margin-bottom: 5px;
}

.circus{
    margin-right: 0;
    margin-bottom: 5px;
}
.game{
    margin-left: 0;
}
